#!/usr/bin/env bash
# SPDX-FileCopyrightText: 2024 SAP SE or an SAP affiliate company
# SPDX-License-Identifier: Apache-2.0
if type -P lorri &>/dev/null; then
  eval "$(lorri direnv)"
elif type -P nix &>/dev/null; then
  use nix
else
  echo "Found no nix binary. Skipping activating nix-shell..."
fi
